/* Basic elements */

/* Colors and Animations */
:root {
  --palerblue: #8AB4F8;
  --paleblue: #669DF7;
  --pale-icons: hue-rotate(3.6deg) saturate(32.2%) brightness(170%);
  --ripple: #394457;
  --lightgray: #616266;
  --lightergray: #9aa0a6;
	--gray: #3C4043;
  --darkgray: #202124;
  --text-hover-on: text-shadow 0.1s ease;
  --text-hover-off: text-shadow 0.25s ease;
  --button-on: background-color 0.1s ease, border-color 0.1s ease, color 0.1s ease;
	--button-off: background-color 0.25s ease, border-color 0.25s ease, color 0.25s ease;
}

/* Buttons */

/* Filled */
.docos.docs-gm .jfk-button.jfk-button-action {
  background-color: var(--paleblue);
  color: black;
  transition: var(--button-off);
}
.docos.docs-gm .jfk-button.jfk-button-action.jfk-button-hover {
  background-color: var(--palerblue);
  color: black;
  transition: var(--button-on);
}
.docos.docs-gm .jfk-button.jfk-button-action.jfk-button-disabled {
  background-color: var(--lightgray);
  color: var(--darkgray);
  opacity: 100%;
}

/* Outlined */

.docos.docs-gm .jfk-button.jfk-button-standard {
  background-color: transparent;
  border-color: var(--gray) !important;
  color: var(--paleblue);
  transition: var(--button-off);
}
.docos.docs-gm .jfk-button.jfk-button-standard.jfk-button-hover,
.docos.docs-gm .jfk-button.jfk-button-standard.jfk-button-focused {
  background-color: var(--gray);
  border-color: var(--gray) !important;
  transition: var(--button-on);
}
.docos.docs-gm .jfk-button.jfk-button-standard.jfk-button-focused.jfk-button-hover {
  background-color: var(--gray);
  border-color: var(--gray) !important;
  color: var(--palerblue);
  transition: var(--button-on);
}

/* Text fields */
.docs-gm .docos-input-textarea {
  border-color: var(--gray);
  color: white;
}
.docs-gm .docos-input-typing > .docos-input-textarea {
  color: white;
}
.docs-gm .docos-input-textarea:focus {
  border-color: var(--paleblue);
  color: white;
}
