.ZWZruf /* Search bar background */, 
.CjshKe /* Landing page background */ {
  background-color: var(--darkestgray);
}

.yawtRb .Icoilb svg /* Panel close button */, 
.yawtRb .lVYtmc svg {
  fill: var(--lightergray);
}
.fKz7Od .VTBa7b /* Panel close button ripple effect on click, because this one is fancy */ {
  background-image: radial-gradient(circle farthest-side, var(--blueripple), var(--blueripple) 80%, var(--blueripple) 100%);
}
.U26fgb.mUbCce.fKz7Od.Icoilb.M9Bg4d.j7nIZb:hover /* Panel close button on hover */ {
  background-color: var(--darkergray);
}

.fjSJOb input.yNVtPc /* Search bar placeholder */ {
  color: var(--lightergray);
}
.fjSJOb input.Ax4B8 /* Search terms */ {
  color: white;
}

.GtrNOb /* Search bar bottom border */ {
  border-color: var(--darkergray);
}

img.hTbDCf /* Google logo */ {
  filter: brightness(100000%);
}
.UCvCZb /* "images" */ {
  color: var(--palerblue);
}

.kkN4Se /* Copyright warning */ {
  color: var(--lightgray);
}
.kkN4Se a /* "Learn more" */ {
  color: var(--palerblue);
}

.VOEIyf .jBmls /* Search suggestions box */ {
  background-color: var(--darkestgray);
  border: none;
  border-bottom: 1px solid var(--darkergray);
}
.VOEIyf, .VOEIyf .jBmls, .oKubKe /* Search suggestion text */ {
  color: var(--lightergray);
  transition: var(--button-off);
}
.oKubKe[aria-selected="true"] /* Highlighted search suggestion */ {
  background-color: var(--darkergray);
  transition: var(--button-on);
}

.BxNLed /* Bottom bar with item count and Insert button */ {
  background-color: var(--darkergray);
}
.Ce1Y1c svg[fill="#3367d6"] /* X button */ {
  fill: white !important;
}
.e0eYxe /* Item count */, 
.zP15X /* Insert button text */ {
  color: white;
}
.O0WRkf:hover /* Insert button background */ {
  background-color: var(--darkgray);
  transition: var(--button-on);
}
.oG5Srb .Vwe4Vb, .zZhnYe .Vwe4Vb /* Insert button ripple */ {
  background-image: radial-gradient(circle farthest-side, var(--blueripple), var(--blueripple) 80%, transparent 100%)
}
