.yawtRb /* Titlebar */,
.TNg8Ce /* Tabbar */,
.ye3Lg /* Grid view file listing area */,
.ndfHFb-jyrRxf-haAclf .ndfHFb-XuHpsb-haAclf /* List view file listing area */,
.ndfHFb-jyrRxf-tJHJj /* Sort order bar */ {
  background-color: var(--darkestgray);
  border-color: var(--darkgray);
  scrollbar-color: var(--gray) var(--darkestgray);
  scrollbar-width: thin;
}
.ndfHFb-jyrRxf-haAclf .ndfHFb-XuHpsb-haAclf {
  border: none;
  border-top: 1px solid var(--darkgray);
}

.jfvobd /* Titlebar text */ {
  color: white;
  font: 500 16px "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}
.yawtRb .vaAiZ svg /* Search icon */,
.yawtRb .Icoilb svg, .yawtRb .lVYtmc svg /* Close icon */ {
  fill: white;
}

.J0uOUd .TNg8Ce /* Tabbar */,
.vd0D8c /* Bar below tabbar */ {
  border-bottom: 1px solid var(--darkgray);
}
.TNg8Ce .KKjvXb .kx3Hed /* Active tab */ {
  color: var(--palerblue);
}
.w7qIhd, .WwvKTc /* Active tab underline */ {
  background-color: var(--palerblue);
  border-radius: 2px 2px 0 0;
  height: 3px;
}
.GWh4Ge .kx3Hed /* Inactive tab */ {
  color: var(--lightgray);
}
.ThdJC /* Tab backgrounds */ {
  border-radius: 4px 4px 0 0;
}
.kx3Hed /* Tab text */ {
  font: 500 14px "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  text-transform: capitalize;
  letter-spacing: 0.3px;
  line-height: calc(40px - 8px);
  padding: 0 16px !important;
}
.focofd > .cbz1ld /* Tab scroll button containers */ {
  top: 4px;
}
.TNg8Ce .XoUIOc .focofd svg /* Tab scroll buttons (circle and arrow are the same element) */ {
  background-color: var(--darkgray);
  fill: white;
  transition: var(--off);
}
.TNg8Ce .XoUIOc .focofd svg:hover,
.TNg8Ce .XoUIOc .focofd svg:focus {
  background-color: var(--mediumdarkgray);
  transition: var(--on);
}
.TNg8Ce .XoUIOc .focofd svg:active {
  background-color: var(--blue-ripple);
  fill: var(--palerblue);
  transition: var(--on);
}
.wly3Bc /* Tab scroll button ripple */ {
  display: none;
}

.JcDdO /* Current location */ {
  padding-left: 20px;
}
.IeLV9d /* Breadcrumbs */ {
  padding: 0;
}
.IeLV9d /* Breadcrumbs */,
.iXlbzd /* Repeat of active tab label in bar below tabbar */,
.pGOlGd .ndfHFb-ObfsIf-haAclf .ndfHFb-rBfmuc-E2o6qc-V67aGc /* Date separators (Last week, a month ago, &c) */ {
  color: var(--lightgray);
}
.fuIls svg /* Breadcrumb arrows */ {
  fill: var(--lightgray);
}
.kZyufc svg /* Grid/list switcher */ {
  fill: var(--lightgray);
}

.ndfHFb-jyrRxf-tJHJj-eEDwDf, .ndfHFb-jyrRxf-tJHJj-p1I1yf:focus, .ndfHFb-jyrRxf-tJHJj-p1I1yf:hover /* List view sort order */,
.pGOlGd .ndfHFb-ObfsIf-Bpn8Yb-uDEFge-sM5MNb .ndfHFb-Bpn8Yb-OomVLb-xl07Ob-LgbsSe, .ndfHFb-jyrRxf-tJHJj-Evexob /* Grid view sort order */ {
  color: var(--lightgray);
  font-family: Roboto, sans-serif;
  font-weight: normal;
}
.pGOlGd .ndfHFb-jyrRxf-Bpn8Yb-mhHukc-hFsbo svg /* List view sort direction */,
.pGOlGd .ndfHFb-ObfsIf-Bpn8Yb-uDEFge-sM5MNb .ndfHFb-Bpn8Yb-OomVLb-mhHukc-LgbsSe svg /* Grid view sort direction */ {
  fill: var(--lightgray);
}

.ndfHFb-jyrRxf-haAclf .ndfHFb-rBfmuc-E2o6qc-tJHJj /* Time range separators (in "Recent" view) */ {
  border-bottom-color: var(--darkgray);
  padding-left: 20px;
}
.pGOlGd .ndfHFb-jyrRxf-haAclf .ndfHFb-rBfmuc-E2o6qc-V67aGc /* Time range text */ {
  color: var(--lightgray);
}

.eizQhe-ObfsIf-jXK9ad, .eizQhe-ObfsIf-jXK9ad.eizQhe-ObfsIf-yEEHq /* Grid view file tiles */,
.ndfHFb-jyrRxf-oKdM2c-gk6SMd, .ndfHFb-jyrRxf-eEDwDf /* List view file tiles */, 
.eizQhe-ObfsIf-jXK9ad, .eizQhe-ObfsIf-J2xVie-ndfHFb-haAclf, .eizQhe-ObfsIf-J2xVie-ndfHFb-haAclf .eizQhe-ObfsIf-r4nke /* Shared drive tiles */ {
  background-color: var(--darkestgray);
  border-color: var(--darkgray);
  transition: var(--off);
}
.onv9We-AHmuwe-TSZdd .ndfHFb-ObfsIf-jXK9ad-haAclf:focus .eizQhe-ObfsIf-jXK9ad /* Grid view file tiles when focused */ {
  border-color: var(--paleblue);
  transition: var(--on);
}
.eizQhe-ObfsIf-gk6SMd /* Grid view file tiles when selected */,
.onv9We-AHmuwe-TSZdd .ndfHFb-jyrRxf-oKdM2c-gk6SMd.ndfHFb-jyrRxf-oKdM2c-BP2Omd-AHmuwe.ndfHFb-jyrRxf-oKdM2c-BP2Omd-gSKZZ .ndfHFb-jyrRxf-eEDwDf:last-child>.ndfHFb-jyrRxf-eEDwDf-hpYHOb-Q4BLdf>.ndfHFb-jyrRxf-eEDwDf-BPrWId,.onv9We-AHmuwe-TSZdd .ndfHFb-jyrRxf-oKdM2c-gk6SMd.ndfHFb-jyrRxf-oKdM2c:focus>.ndfHFb-jyrRxf-eEDwDf:last-child>.ndfHFb-jyrRxf-eEDwDf-hpYHOb-Q4BLdf>.ndfHFb-jyrRxf-eEDwDf-BPrWId /* List view file tiles when selected */ {
  background-color: var(--blue-ripple);
  border-color: var(--paleblue);
}
img.eizQhe-ObfsIf-mJRMzd-PFprWc-RJLb9c /* File thumbnails */ {
  filter: brightness(80%);
}
.HiaYvf-SfQLQb-jAb3A-AHe6Kc /* File thumbnail transparent areas */ {
  background-color: var(--darkestgray);
  background-image:
    linear-gradient(45deg, var(--darkgray) 25%,transparent 25%,transparent 75%, var(--darkgray) 75%, var(--darkgray)),
    linear-gradient(45deg, var(--darkgray) 25%,transparent 25%,transparent 75%, var(--darkgray) 75%, var(--darkgray));
}
.eizQhe-jyrRxf-V1ur5d-r4nke > .eizQhe-mJRMzd-V1ur5d-fmcmS, .eizQhe-jyrRxf-V1ur5d-r4nke /* List view file names */,
.pGOlGd .eizQhe-ObfsIf-mJRMzd:not(.eizQhe-ObfsIf-gk6SMd) .eizQhe-mJRMzd-V1ur5d-fmcmS,
.pGOlGd .eizQhe-ObfsIf-yEEHq:not(.eizQhe-ObfsIf-gk6SMd) .eizQhe-ObfsIf-r4nke, .eizQhe-ObfsIf-r4nke /* Grid view file names */, 
.eizQhe-ObfsIf-J2xVie-ndfHFb-haAclf .eizQhe-ObfsIf-r4nke /* Shared drives */ {
  color: var(--lightestgray);
}
.eizQhe-ObfsIf-J2xVie-ndfHFb-MZArnb-UjZuef /* Shared drive properties */ {
  color: var(--lightgray);
}
.eizQhe-ObfsIf-gk6SMd .eizQhe-ObfsIf-r4nke /* Grid view file names when selected */,
.ndfHFb-jyrRxf-oKdM2c-gk6SMd, .ndfHFb-jyrRxf-oKdM2c-gk6SMd .eizQhe-jyrRxf-V1ur5d-r4nke > .eizQhe-mJRMzd-V1ur5d-fmcmS /* List view */ {
  color: var(--palerblue);
}

.ndfHFb-vWsuo-haDnnc-At1hV-edvN0e /* Shared file icon */ {
  fill: white;
}

.BxNLed /* Background of bottom bar with "Insert" button */ {
  background-color: var(--darkgray);
}
.U26fgb.mUbCce.fKz7Od.M9Bg4d .xjKiLb .Ce1Y1c svg /* Close button in that bar */ {
  fill: white;
}
.e0eYxe /* Number of selected items */ {
  color: white;
}
.zP15X /* "Insert" button */ {
  color: white;
}
