html, body {
  background-color: var(--darkestgray);
  scrollbar-color: var(--gray) transparent;
}

body::-webkit-scrollbar-track-piece {
  background-color: var(--darkestgray);
}
::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  box-shadow: none !important;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--lightgray);
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--paleblue);
}

/* Header */
header {
  background-color: var(--darkestgray) !important;
}

.gb_oa svg /* Main menu (hamburger), search icon (magnifying glass), apps icon (waffle) */,
.gb_Se.gb_Te button svg /* 🔍 and × when search field is in focus */,
.gb_Ec svg /* idk */,
.gb_4d.gb_1c /* “Docs” */{
  color: var(--lightergray);
}

.gb_Se /* Search bar */,
.gb_Se.gb_Te /* Active search bar */ {
  background-color: var(--darkergray);
}
.gb_Se:hover {
  background-color: var(--darkgray);
}
input.gb_df::placeholder, /* “Search” */
.gb_Re.gb_Se input::placeholder /* “Search” in active search bar */ {
  color: var(--lightgray) !important;
  opacity: 100%;
}
.gb_df /* Search term(s) */,
.gb_Se.gb_Te .gb_df /* Search terms when search field is in focus */ {
  color: var(--lightestgray);
}

td.gssb_e /* Search suggestions box */ {
  background-color: var(--darkergray);
  border-color: var(--gray);
}
table.gssb_m /* Search suggestions area inside box, which excludes the bottom edge which serves as “padding” */ {
  background: none;
  color: var(--lightestgray);
}
.ASO_SUGGESTIONS_CONTAINER tr /* Search results */ {
  transition: var(--off);
}
.asor.asor_i5 /* Recent item icon */ {
  filter: invert(100%);
  opacity: 100%;
}
.ASO_SUGGESTIONS_CONTAINER tr.gssb_i.ASO_SUGGESTION_HIGHLIGHTED /* Highlighted search result */ {
  background-color: var(--darkgray);
  transition: var(--on);
}
tr[role="separator"] .gssb_l /* Line between recent terms and search results */ {
  background-color: var(--mediumdarkgray);
}
.gstq_c /* Email address if search term matches it */,
.asor_e /* Owner of file in search result */ {
  color: var(--lightgray);
  font-family: Roboto, sans-serif;
}
.gsan_a /* No results message */ {
  color: var(--lightgray);
}

.gb_Re /* Account and apps area */ {
  background: none;
}
.gb_ia /* Google Workspace organization logo box */ {
  background-color: var(--darkestgray);
  border-color: var(--darkgray);
  transition: var(--off);
}
.gb_ia:hover {
  background-color: var(--darkgray);
  border-color: var(--mediumdarkgray);
  transition: var(--on);
}

/* Left side menu */
.gb_Fc /* Docs Editors menu */ {
  background-color: var(--darkgray);
}
.goog-menu.docs-homescreen-leftmenu {
  background-color: transparent;
}
.gb_uc .gb_ge::before /* Google logo */ {
  filter: brightness(500%) saturate(0%);
}
.docs-homescreen-leftmenu-menuseparator /* Separators */ {
  border-color: var(--gray);
}
.docs-homescreen-leftmenu-menuitem /* Menu items */ {
  & .docs-homescreen-leftmenu-menuitem-text {
    color: var(--lightestgray);
  }
  &.goog-menuitem-highlight {
    background-color: var(--mediumdarkgray);
    .docs-homescreen-leftmenu-menuitem-text {
      color: var(--lightestgray);
    }
  }
}
.docs-homescreen-leftmenu {
  & .docs-homescreen-gear-24, 
  & .docs-homescreen-help-outline-24 {
    filter: var(--white-icons);
  }
}
.docs-homescreen-leftmenu-tos-links-container {
  & .ogb-link {
    color: var(--lightgray) /* Important because the asterisk is weak */ ;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: var(--off), 0.2s text-decoration-color ease;
  }
  & .ogb-link:hover {
    color: var(--lightestgray);
    text-decoration: underline;
    transition: var(--on), 0.15s text-decoration-color ease;
  }
  & span {
    color: var(--lightgray);
    user-select: none;
  }
}

/* Template gallery */
.docs-homescreen-templates-bar /* “Templates” title bar, shown when template gallery is expanded */ {
  background-color: var(--darkestgray);
}
.docs-homescreen-templates-bar-header {
  color: var(--lightestgray);
}

.docs-hs-tmp-expandedcontentholder-tabbarrow /* Templates gallery tabbar (shown for organizations) */ {
  background-color: var(--darkestgray);
}

.docs-homescreen-fcc-content /* Template gallery background */ {
  background-color: var(--darkergray);
}

.docs-hs-tmp-contractedheader-text /* “Start a new document ” */ {
  color: var(--lightestgray);
}

.docs-hs-tmp-sc-showcase .docs-homescreen-grid-header-title.docs-homescreen-grid-header-title, /* “Recently used” */
.docs-hs-tmp-sc-default .docs-homescreen-grid-header-title.docs-homescreen-grid-header-title /* Other template group titles */ {
  background-color: transparent;
  color: var(--lightestgray);
}
.jfk-button.docs-hs-tmp-contractedheader-more /* “Template gallery” button */ {
  background-color: transparent;
  color: var(--lightestgray);
  transition: var(--off);
  &.jfk-button-hover, 
  &.jfk-button-focused {
    background-color: var(--darkgray);
    transition: var(--on);
  }
  &.jfk-button-active {
    background-color: var(--blue-ripple);
  }
  &+.docs-hs-tmp-contractedheader-separator {
    border-color: var(--gray);
    transition: 3s border-color ease;
  }
  &.jfk-button-hover, 
  &.jfk-button-focused,
  &.jfk-button-active {
    &+.docs-hs-tmp-contractedheader-separator {
      border-color: transparent;
      transition: var(--on);
    }
  }
}
.docs-hs-tmp-contractedheader-actions .docs-homescreen-icon /* Template gallery button icons */ {
  filter: var(--white-icons);
}
.goog-menu-button.docs-hs-tmp-contractedheader-overflow /* Template gallery overflow menu */ {
  transition: var(--off);
}
.goog-menu-button-hover.docs-hs-tmp-contractedheader-overflow,
.goog-menu-button-focused.docs-hs-tmp-contractedheader-overflow {
  background-color: var(--darkgray);
  transition: var(--on);
}
.goog-menu-button-open.docs-hs-tmp-contractedheader-overflow {
  background-color: var(--blue-ripple);
}
.docs-hs-tmp-contractedheader-actions .goog-menu-button-open .docs-homescreen-icon {
  filter: var(--paleblue-icons);
}

/* OPENED TEMPLATE GALLERY */

.docs-homescreen-templates-bar-back /* Back button */ {
  transition: var(--off);
  & .docs-homescreen-back-grey700-24 {
    filter: var(--white-icons);
  }
  &.jfk-button-hover, 
  &.jfk-button-focused {
    background-color: var(--darkgray);
    transition: var(--on);
  }
  &.jfk-button-active {
    background-color: var(--blue-ripple);
  }
}
.docs-hs-tmp-emptydomaingallery-image /* No templates empty state */ {
  display: none; /* sorry I couldn’t darken this empty state photo nicely */
}
.docs-hs-tmp-emptydomaingallery-header {
  color: var(--lightestgray);
}
.docs-hs-tmp-emptydomaingallery-msg {
  color: var(--lightergray);
}
.docs-hs-tmp-submitbutton-embossed /* “Submit template” button */ {
  background-color: transparent;
  border: 1px solid var(--mediumdarkgray);
  border-radius: 4px;
  box-shadow: none;
  transition: var(--off);
}
.docs-hs-tmp-submitbutton-embossed.docs-hs-tmp-submitbutton-embossed-hover {
  background-color: var(--mediumdarkgray);
  transition: var(--on);
}
.docs-hs-tmp-submitbutton-embossed.docs-hs-tmp-submitbutton-embossed-active {
  background-color: var(--blue-ripple);
  border-color: var(--blue-ripple);
}
.docs-hs-tmp-submitbutton-icon {
  filter: var(--paleblue-icons);
}
.docs-hs-tmp-submitbutton-label {
  color: var(--palerblue);
}

.docs-homescreen-templates-templateview-preview /* Template thumbnail */ {
  background-color: var(--mediumdarkgray);
  border-color: var(--mediumdarkgray);
  transition: var(--off);
}
.docs-homescreen-templates-templateview-preview:hover {
  border-color: var(--gray);
  transition: var(--on);
}
.goog-control-active .docs-homescreen-templates-templateview-preview {
  border-color: var(--paleblue);
  transition: var(--on);
}
.docs-homescreen-templates-templateview-preview img /* Template preview image */ {
  filter: opacity(75%) contrast(80%);
  transition: filter 0.5s ease;
}
.docs-homescreen-templates-templateview-preview img:hover {
  filter: none;
  transition: filter 0.25s ease;
}

.docs-homescreen-templates-templateview-title /* Template names */ {
  color: var(--lightestgray);
}
.docs-homescreen-templates-templateview-brandauthor,
.docs-homescreen-templates-templateview-style /* Template info */ {
  color: var(--lightergray);
  font-weight: 400;
}
.docs-homescreen-templates-templateview-addon /* “Add-on” badge */ {
  background-color: var(--paleblue);
  color: var(--darkestgray);
}

/* RECENT DOCUMENTS LIST */

.docs-homescreen-container /* Homepage background */ {
  background-color: transparent;
}
.docs-homescreen-floater-header, /* “Recent documents” and sorting buttons bar */
.docs-homescreen-grid-header, .docs-homescreen-list-header {
  background-color: var(--darkestgray);
}
.docs-homescreen-floater-header-shadow,
.docs-homescreen-floater-header-shadow>.docs-homescreen-floater-header /* Sorting buttons bar, but once the view is scrolled enough */ {
  background-color: var(--darkergray);
  box-shadow: none;
}
.docs-homescreen-floater-header /* “Recent documents” */ {
  color: var(--lightestgray);
}
.docs-homescreen-owner-filter-button /* Owner filter dropdown */ {
  background-color: transparent;
  color: var(--lightestgray);
  transition: var(--off);
  & .docs-homescreen-dropdown-arrow-24::before {
    filter: var(--white-icons);
  }
  &.goog-menu-button-hover, 
  &.goog-menu-button-focused {
    background-color: var(--darkgray);
    transition: var(--on);
  }
  &.goog-menu-button-hover {
    cursor: pointer /* The whole button is clickable, but the cursor only changes to a pointer when hovering over the text or triangle. This fixes that. */ ;
  }
  &.goog-menu-button-open {
    background-color: var(--blue-ripple);
  }
  &+.docsshared-menu-bubble .goog-menuitem-content {
    color: var(--lightestgray);
  }
}

.docs-homescreen-floater-header-buttons .docs-homescreen-editorbar-actionbutton /* Grid/list, sort, open */ {
  & .docs-homescreen-img {
    filter: var(--white-icons);
  }
  &.jfk-button-hover::before,
  &.jfk-button-focused::before, 
  &.goog-menu-button-hover::before, 
  &.goog-menu-button-focused::before {
    background-color: var(--darkgray); 
  }
  &.jfk-button-active::before, 
  &.goog-menu-button-open::before {
    background-color: var(--blue-ripple);
  }
  &.jfk-button-active .docs-homescreen-img {
    filter: brightness(500%) saturate(0%);
  }
  &.goog-menu-button-open .docs-homescreen-img {
    filter: var(--paleblue-icons);
  }
}
.docs-homescreen-editorbar-actionbutton+.docsshared-menu-bubble .goog-menuitem-content {
  color: var(--lightestgray);
}

/* Empty state */
.docs-homescreen-empty-section-notice {
  background-color: transparent;
  box-shadow: none;
}
.docs-homescreen-empty-section-new-user-notice-heading {
  color: var(--lightestgray);
}
.docs-homescreen-empty-section-notice-message {
  color: var(--lightgray);
}

/* Thumbnail view */
.docs-homescreen-grid-item {
  background-color: var(--darkestgray);
  border-color: var(--darkgray);
  transition: var(--off);
}
.docs-homescreen-grid-item.goog-control-hover {
  background-color: var(--darkgray);
  border-color: var(--gray);
  transition: var(--on);
}
.docs-homescreen-grid-item.goog-control-active {
  background-color: var(--blue-ripple);
  border-color: var(--paleblue);
  transition: var(--on);
}
.docs-homescreen-grid-item-thumbnail {
  filter: invert(100%) hue-rotate(180deg) contrast(80%);
}
.docs-homescreen-grid-item-metadata-container /* Textbox below thumbnails */ {
  background-color: transparent;
  border-color: var(--darkgray);
}
.docs-homescreen-grid-item-title {
  color: var(--lightestgray);
}
.docs-homescreen-grid-item .docs-homescreen-grid-item-shared-icon .docs-homescreen-img, /* Icon for shared items */
.docs-homescreen-grid-item .docs-homescreen-item-overflow .docs-homescreen-img /* More options (kebab) */ {
  filter: brightness(165%) saturate(70%);
}
.docs-homescreen-grid-item-time-container {
  color: var(--lightgray);
}

/* File options menu */
.docs-homescreen-item-overflow /* Menu button */ {
  transition: var(--off);
}
.docs-homescreen-item-overflow:hover,
.docs-homescreen-item-overflow:focus {
  background-color: var(--gray);
  transition: var(--on);
}
.docs-homescreen-item-section .docsshared-menu-bubble /* Menu container */ {
  background-color: var(--darkgray);
  border: 1px solid var(--mediumdarkgray);
  box-shadow: none;
}
.docs-homescreen-iconmenu .goog-menuitem /* Menu items */ {
  transition: var(--off);
}
.docs-homescreen-iconmenu .goog-menuitem-highlight {
  background-color: var(--mediumdarkgray);
  transition: var(--on);
}
.docs-homescreen-iconmenu .goog-menuitem-active {
  background-color: var(--gray);
  transition: var(--on);
}
.docs-homescreen-overflowmenuitem-icon .docs-homescreen-img /* Menu icon */ {
  filter: var(--white-icons);
}
.docs-homescreen-iconmenu .goog-menuitem-highlight .goog-menuitem-content /* Menu text */ {
  color: var(--lightestgray);
}
.docs-homescreen-iconmenu .goog-menuitem-disabled {
  cursor: not-allowed;
}
.docs-homescreen-iconmenu .goog-menuitem-disabled .docs-homescreen-overflowmenuitem-text-container div {
  color: var(--gray);
}

/* List view */
.docs-homescreen-list-item /* Each row */ {
  background-color: transparent;
  border-color: var(--darkgray);
  border-radius: 0;
  color: var(--lightestgray);
  transition: var(--off);
}
.docs-homescreen-list-item.goog-control-hover, .docs-homescreen-list-item.goog-control-focus {
  background-color: var(--darkgray);
  border-color: transparent;
  border-radius: 0;
  outline: none;
  transition: var(--on);
}
.docs-homescreen-list-item.goog-control-active {
  background-color: var(--blue-ripple);
  transition: var(--on);
}
.docs-homescreen-list-item-icon /* Filetype icon */ {
  border-color: transparent;
}
.docs-homescreen-list-item-owner,
.docs-homescreen-list-item-time /* File details */ {
  color: var(--lightgray);
}
.docs-homescreen-list-item .docs-homescreen-list-item-shared-icon .docs-homescreen-img, /* Icon for shared items */
.docs-homescreen-list-item .docs-homescreen-item-overflow .docs-homescreen-img /* More options (kebab) */ {
  filter: brightness(165%) saturate(70%);
}

.docs-homescreen-fab /* The round button in the corner that appears when you scroll down */ {
  background-color: var(--darkgray);
  transition: var(--off);
}
.docs-homescreen-fab.jfk-button-hover,
.docs-homescreen-fab.jfk-button-focused {
  background-color: var(--mediumdarkgray);
  transition: var(--on);
}
.docs-homescreen-fab.jfk-button-active {
  background-color: var(--blue-ripple);
}
.docsHomescreenUiWizfabbuttonMenuItemFab /* Same button, when the template gallery is set to not show */, 
.docsHomescreenUiWizfabbuttonMenuButtonFab {
  background-color: var(--darkgray);
  transition: var(--off);
  &:hover, :focus {
    background-color: var(--gray);
    transition: var(--on);
  }
  & .docs-homescreen-edit-pencil-outline-24, .docs-homescreen-template-24 {
    filter: var(--paleblue-icons);
  }
}
.quantumWizButtonFloatingactionbuttonHoverOverlay /* FAB overlay that makes it brighter on hover than I set it */ {
  visibility: hidden;
}
