body {
  scrollbar-color: var(--gray) transparent;
}

.KC1dQ /* Background */ {
  background-color: var(--darkestgray);
}

.mNL6p .d3Kuye .zv7tnb /* “Share "<whatever>"”, “Settings for "<whatever>"” */{
  color: var(--lightestgray);
}

.RTwQId button /* ❔ and ⚙️ icons */, 
.IiAoVe button /* ← button */ {

  &.VfPpkd-Bz112c-LgbsSe div.VfPpkd-Bz112c-Jh9lGc::before, 
  &.VfPpkd-Bz112c-LgbsSe div.VfPpkd-Bz112c-Jh9lGc::after /* Ripple effects */ {
    background-color: white;
  }

  & i.google-material-icons /* The help and settings button use an icon font */, 
  & svg.NMm5M /* The back button uses an SVG */ {
    color: var(--lightestgray);
  }
}

span.RTwQId>div.VfPpkd-xl07Ob-XxIAqe-OWXEXe-oYxtQd ul.VfPpkd-StrnGf-rymPhb /* Help menu items */ {
  color: var(--lightestgray); 

  & span::before, 
  & span::after {
    background-color: white;
  }
}

div.OinSqd /* Settings page */ {
  & input.VfPpkd-muHVFf-bMcfAe~.VfPpkd-OYHm6b::before, 
  & input.VfPpkd-muHVFf-bMcfAe~.VfPpkd-OYHm6b::after {
    background-color: var(--paleblue) !important; /* The color of this is re-specified for different states and I just didn’t feel like writing those all out */
  }
}
.VfPpkd-I9GLp-yrriRe > label /* Checkbox label */ {
  color: var(--lightergray);
}

/* ANNOUNCEMENT BANNER */

.XzbSje.AVUQbb.eJxL0c /* “Sharing is simpler” banner */ {
  background-color: var(--blue-ripple);
  border-color: var(--blue-ripple);
}

/* ADD PEOPLE AND GROUPS */

.yid0mf /* Search box background and apparently the message box too */ {
  background-color: var(--darkergray);
  transition: var(--off);

  &:hover {
    background-color: var(--darkgray);
    transition: var(--on);
  }

  & label {
    color: var(--lightgray);
  }

  & textarea /* Where you type things */ {
    color: var(--lightestgray);
  }
}

.SN5W1d.iPMcJc /* Search box underline, but this is the parent element. The actual item getting colored uses currentcolor. */ {
  color: var(--paleblue);
}

div.YMNIz::after /* Placeholder */ {
  color: var(--lightgray);
}
input.zeumMd.d2j1H /* Text in search box, */ {
  color: var(--lightestgray);
  caret-color: var(--palerblue);
}
.m0PB1.P2wJPb /* Person chips in search box */ {
  background-color: var(--darkgray);
  border-color: var(--gray);
  color: var(--lightergray);
}
.Zx360 .VfPpkd-StrnGf-XPtOyb-UbuQg-XCaCob::before,
.Zx360 .VfPpkd-StrnGf-XPtOyb-UbuQg-XCaCob::after /* × button shading */ {
  background-color: var(--paleblue);
}
.P2wJPb button.VfPpkd-StrnGf-XPtOyb-UbuQg-JIbuQc,
.P2wJPb:hover button.VfPpkd-StrnGf-XPtOyb-UbuQg-JIbuQc,
.P2wJPb:active button.VfPpkd-StrnGf-XPtOyb-UbuQg-JIbuQc,
.P2wJPb:hover .VfPpkd-StrnGf-XPtOyb-UbuQg-JIbuQc,
.P2wJPb.VfPpkd-ksKsZd-mWPk3d-OWXEXe-AHe6Kc-XpnDCe .VfPpkd-StrnGf-XPtOyb-UbuQg-JIbuQc,
.P2wJPb:not(.VfPpkd-ksKsZd-mWPk3d):focus .VfPpkd-StrnGf-XPtOyb-UbuQg-JIbuQc,
.P2wJPb:active .VfPpkd-StrnGf-XPtOyb-UbuQg-JIbuQc/* × icon in person chip */ {
  color: var(--lightestgray);
}

div.VfPpkd-xl07Ob-XxIAqe /* Search suggestions box */ {
  background-color: var(--darkgray);
}
span.VfPpkd-StrnGf-rymPhb-fpDzbe-fmcmS /* Name */ {
  color: var(--lightestgray);
}
span.VfPpkd-StrnGf-rymPhb-L8ivfd-fmcmS /* Email */ {
  color: var(--lightgray);
}

.role-menu() /* Dropdown menu with roles (and sometimes other options) */ {
  color: var(--lightestgray);

  & .VfPpkd-StrnGf-rymPhb /* Menu items */ {
    color: currentColor;
  }
  & .VfPpkd-StrnGf-rymPhb-ibnC6b-OWXEXe-OWB6Me .VfPpkd-StrnGf-rymPhb-b9t22c /* Disabled items */ {
    color: var(--lightgray);
  }

  & li.VfPpkd-xl07Ob-ibnC6b-OWXEXe-gk6SMd i.material-icons-extended /* Check mark beside selected role */ {
    color: var(--palerblue);
  }

  & li.VfPpkd-StrnGf-rymPhb-clz4Ic /* Separators */ {
    border-bottom-color: var(--gray);
  }

  & :not(.VfPpkd-StrnGf-rymPhb-ibnC6b-OWXEXe-OWB6Me).VfPpkd-StrnGf-rymPhb-ibnC6b .VfPpkd-StrnGf-rymPhb-pZXsl::before, 
  & :not(.VfPpkd-StrnGf-rymPhb-ibnC6b-OWXEXe-OWB6Me).VfPpkd-StrnGf-rymPhb-ibnC6b .VfPpkd-StrnGf-rymPhb-pZXsl::after {
    background-color: white;
  }
}

/* ROLE PICKER (beside box with people to add) */
.ecb7Wb+.DbfLIb { 
  & button.Rj2Mlf {
    border-color: var(--darkgray);
    color: var(--lightestgray);
    transition: var(--off);

    &:hover, 
    &:focus, 
    &.VfPpkd-ksKsZd-mWPk3d-OWXEXe-AHe6Kc-XpnDCe /* While the dropdown menu is open */ {
      background-color: var(--darkgray);
      transition: var(--on);
    }
    &:active {
      background-color: var(--blue-ripple);
      border-color: var(--blue-ripple);
      transition: var(--on);
    }
  }
  & .VfPpkd-xl07Ob-XxIAqe>ul /* Dropdown menu */ {
    .role-menu();
  }
}

.Ne8lhe .VfPpkd-muHVFf-bMcfAe:enabled:checked ~ .VfPpkd-YQoJzd /* “Notify people” checkbox (and other checkboxes) */ {
  background-color: var(--paleblue);
  border-color: var(--paleblue);
  transition: var(--off);
}
.Ne8lhe:hover .VfPpkd-muHVFf-bMcfAe:enabled:checked ~ .VfPpkd-YQoJzd {
  background-color: var(--palerblue);
  border-color: var(--palerblue);
  transition: var(--on);
}
.Ne8lhe:not(:disabled):active .VfPpkd-muHVFf-bMcfAe:enabled:checked ~ .VfPpkd-YQoJzd {
  background-color: var(--palerblue);
  border-color: var(--palerblue);
}

.Ne8lhe .VfPpkd-muHVFf-bMcfAe:enabled ~ .VfPpkd-YQoJzd {

  & svg.VfPpkd-HUofsb /* Check mark inside “Notify people” checkbox */ {
    color: var(--darkestgray);
  }

  &+.VfPpkd-OYHm6b::before, 
  &+.VfPpkd-OYHm6b::after /* Ripple effects */ {
    background-color: var(--paleblue);
  }
}
.Ne8lhe:not(:disabled):active .VfPpkd-muHVFf-bMcfAe:enabled:checked ~ .VfPpkd-YQoJzd > VfPpkd-HUofsb {
  color: var(--blue-ripple);
}

/* MESSAGE BOX TO INVITEES */

.I9OJHe.mdf2C.xjBc3b {
  border-color: var(--darkgray); 

  &:not(.iPMcJc)::before {
    border: none; /* Gets rid of the uneven border when hovering. The :not() is because Google uses this pseudo-element to produce the thicker border while the message box is active. */
  }

  & label.iq7lKd .CeSLIf /* "Message" */ {
    background: var(--darkestgray);
    color: var(--lightgray);
  }
  &.iPMcJc label.iq7lKd .CeSLIf {
    color: var(--palerblue);
    transition: var(--on);
  }

  & textarea.LUNIy /* Message contents */ {
    color: var(--lightestgray);
  }
}

/* LIST OF PEOPLE WITH ACCESS */

.WaWjk /* “People with access” */,
.quTB6 /* “General access" */ {
  color: var(--lightergray);
}

.mjB9rc /* Lines below “People with access” and “General access” */,
.yF6xpb /* Line above “Copy link” and “Done” buttons */ {
  border-color: var(--darkestgray);
}

.aUQx::before /* Line above list of people with access */,
.aUQx::after /* Line below */ {
  border-color: var(--mediumdarkgray);
}

/* LIST OF PEOPLE WITH ACCESS */

div.WaWjk+div[jsname="q6pyVe"] {

  & .ZelW3e .FYhd9e /* Half-pill shapes around each person */ {
    background-color: transparent;
    transition: var(--off);

    & .fOEalf .Jw4Ike /* Names */ {
      color: var(--lightestgray);
    }

    & .fOEalf .EDtwUe /* Emails */ {
      color: var(--lightgray);
    }

    & .fSFQ2 button /* ⏲️ button (shown when the person’s access will expire) */ {

      &>div.VfPpkd-Bz112c-Jh9lGc::before, 
      &>div.VfPpkd-Bz112c-Jh9lGc::after {
        background-color: white;
      }

      &>i.google-material-icons.sXuDaf {
        color: var(--lightestgray);
      }
    }

    & .VfPpkd-xl07Ob-XxIAqe-OWXEXe-oYxtQd /* Role picker for general access */ {

      &>div[jsname="WjL7X"]>button /* Role */ {
        color: var(--lightestgray); 

        &>.VfPpkd-Jh9lGc::before, 
        &>.VfPpkd-Jh9lGc::after {
          background-color: white;
        }
      }

      &>div[jsname="U0exHf"] ul /* Role menu */ {
        .role-menu();

        &>ul>li.XG0wRe /* Menu section labels */, 
        & i.google-material-icons /* Help icon */ {
          color: var(--lightgray);
        }
      }
    }

  }
  & .ZelW3e:hover, 
  & .ZelW3e:focus-within {
    & .FYhd9e /* Half-pill shapes around each person */ {
      background-color: var(--darkergray);
      transition: var(--on)
    }
  }
}

/* Editing permission expiration */

.I0Pg4b.YavJjc /* Box around selected person to change expirations (appears as lines above and below the person) */ {
  border-color: var(--darkestgray);

  &>.FYhd9e /* Half-pill shape */ {
    background-color: var(--darkergray) !important; /* Keeps a half-pill shape around the selected person, so it’s clear whose permission expiration is being edited */
  }

  & div.ZwlJPd /* Access expiry date and time */ {
    color: var(--lightestgray);

    & div[jsname="hST8rc"] /* Date and calendar */ {

      &>div[jsname="x9UKd"] /* Date */ {

        & button.J3qpbf:not(:disabled) {
          border-color: var(--mediumdarkgray);
          color: var(--palerblue);

          &:hover {
            background-color: transparent;
          }
        }
      }

      &>div.zAfnEf /* Calendar */ {
        background-color: var(--darkgray);

        & div.RwDu8c {
          background-color: transparent; /* This element has the same dimensions as div.sAfnEf and both had backgrounds for some reason */

          & div.GBsejc /* Month and year */ {
            color: var(--lightestgray);

            &::after /* Downward triangle (why they didn’t just use their icon font, I will never know) */ {
              border-color: var(--lightestgray) transparent;
            }
          }

          & button.VfPpkd-Bz112c-LgbsSe /* < and > buttons */ {

            &>div.VfPpkd-Bz112c-Jh9lGc::before, 
            &>div.VfPpkd-Bz112c-Jh9lGc::after {
              background-color: white;
            }

            & svg.ZNYEy {
              color: var(--lightestgray);
            }
          }

          & .DAx1Cc>.XvN0je /* Year menu items */ {
            color: var(--lightestgray);
            &[aria-disabled="true"] {
              color: var(--gray);
              cursor: not-allowed;
            }
            &[aria-selected="true"] {
              color: var(--palerblue);
            }
          }

          & table.l8ICnb /* Month view */ {

            &>thead.AAAnue /* Days of the week */ {
              color: var(--lightestgray);
            }

            &>tbody.wQArwd button /* Days */ {
              color: var(--lightestgray);

              &.XjokOb.RDPZE /* Unselectable days */ {
                color: var(--gray);
                cursor: not-allowed;
              }

              &.XjokOb.KKjvXb:not(:empty) /* Selected day */ {
                background-color: var(--palerblue);
                color: var(--darkestgray);
                font-family: "Roboto Medium", "Roboto", sans-serif; /* Increases legibility */
              }
            }
          }
        }
      }
    }

    & .cJFUlb /* “11:59 PM” */ {
      color: currentColor;
    }
  }

  & div.DZiDKd>button.ksBjEc:not(:disabled) /* “Remove expiration” and “Close” buttons */ {
    color: var(--palerblue);

    &>.VfPpkd-Jh9lGc::before, 
    &>.VfPpkd-Jh9lGc::after {
      background-color: var(--paleblue);
    }
  }
}

/* GENERAL ACCESS */

.lfDNBb /* Half-pill shape */ {
  &:hover,
  &:focus-within {
    background: none /* It was a bit silly to have a half-pill shape around this area, since it isn’t a list */;
  }

  & .kQ57Ef span.tgHSg /* Circle around 🔒, 🏙️, or 🌎 icon */ {
    &.fQZZ5e /* 🔒 Restricted */ {
      background-color: var(--darkgray);

      & svg {
        fill: var(--lightergray);
      }
    }

    &.z1xAae /* 🏙️ Organization */ {
      background-color: var(--blue-ripple);

      & svg {
        fill: var(--palerblue);
      }
    }

    &.RsJJTe /* 🌎 Anyone with the link */ {
      background-color: var(--green-ripple);

      & svg {
        fill: var(--palergreen);
      }
    }
  }

  & .cA8GLb .VfPpkd-xl07Ob-XxIAqe-OWXEXe-oYxtQd>div[jsname="U0exHf"]>div.VfPpkd-xl07Ob-XxIAqe /* Restricted/org/anyone menu */ {
    background-color: var(--darkgray);

    & ul.VfPpkd-qPzbhe-JNdkSc /* Menu options */ {
      color: var(--lightestgray);

      & :not(.VfPpkd-StrnGf-rymPhb-ibnC6b-OWXEXe-OWB6Me).VfPpkd-StrnGf-rymPhb-ibnC6b .VfPpkd-StrnGf-rymPhb-pZXsl::before, 
      & :not(.VfPpkd-StrnGf-rymPhb-ibnC6b-OWXEXe-OWB6Me).VfPpkd-StrnGf-rymPhb-ibnC6b .VfPpkd-StrnGf-rymPhb-pZXsl::after /* Ripple effects */ {
        background-color: white;
      }
      & li.SbpzSe>span.VfPpkd-StrnGf-rymPhb-f7MjDc /* Check marks */ {
        color: var(--palerblue);
      }

      & li.VfPpkd-StrnGf-rymPhb-clz4Ic[role="separator"] /* Unnecessary separator lines */ {
        display: none;
      }
    }
  }

  & .VfPpkd-xl07Ob-XxIAqe-OWXEXe-oYxtQd /* Role picker for general access */ {

    &>div[jsname="WjL7X"]>button /* Role */ {
      color: var(--lightestgray) !important; 

      &>.VfPpkd-Jh9lGc::before, 
      &>.VfPpkd-Jh9lGc::after {
        background-color: white;
      }
    }

    &>div[jsname="U0exHf"] ul /* Role menu */ {
      .role-menu();

      &>ul>li.XG0wRe /* Menu section labels */, 
      & i.google-material-icons /* Help icon */ {
        color: var(--lightgray);
      }
    }
  }
}

.S9uFJc.VfPpkd-LgbsSe:not(:disabled) /* Link access */ {
  color: var(--lightergray);
}
.RJS6zb /* Link access info */ {
  color: var(--lightgray);
}

/* “Copy link” button (and other outlined buttons) */
.uJtSke.sj692e {
  border-color: var(--darkgray);
  color: var(--paleblue);
  transition: var(--off);
}
.uJtSke.sj692e:hover,
.uJtSke.sj692e:focus,
.Rj2Mlf:not(.VfPpkd-ksKsZd-mWPk3d):focus:not(:disabled) {
  background-color: var(--darkgray);
  border-color: var(--darkgray);
  color: var(--paleblue);
  transition: var(--on);
}
.uJtSke.sj692e:focus:active {
  background-color: var(--blue-ripple);
  border-color: var(--blue-ripple);
  color: var(--palerblue);
  transition: var(--on);
}

/* “Cancel” button (and other text buttons) */
.LjDxcd:not(:disabled) {
  color: var(--lightgray);
  transition: var(--off);
}
.LjDxcd:hover:not(:disabled),
.LjDxcd.VfPpkd-ksKsZd-mWPk3d-OWXEXe-AHe6Kc-XpnDCe:not(:disabled),
.LjDxcd:not(.VfPpkd-ksKsZd-mWPk3d):focus:not(:disabled),
.LjDxcd:active:not(:disabled) {
  --gm-neutraltextbutton-state-color: var(--lightestgray);
  color: var(--lightestgray);
  transition: var(--on);
}
.LjDxcd:active:not(:disabled) {
  --gm-neutraltextbutton-state-color: var(--paleblue);
  color: var(--palerblue);
}

/* “Pending changes” */
.h93iPc {
  color: var(--lightgray);
}

/* “Done” button (and other filled buttons) */
.nCP5yc:not(:disabled) {
  background-color: var(--paleblue);
  color: black;
}

/* “Share?”, “Transfer ownership?”, and “Discard unsaved changes?” dialogs */

.I7OXgf {
  background-color: var(--darkergray);

  &.v3Ifxf .qRUolc /* “Share?” */, 
  & .Bna2Ef /* “Transfer ownership?” */, 
  & .Shk6y.bEd2J /* “Discard unsaved changes?” */ {
    color: var(--lightestgray);
  }

  &.v3Ifxf .oJeWuf /* Sharing warning contents */ {
    color: var(--lightgray);
  }

  & .KLKIj /* “You’ll be the owner until…” */ {
    background-color: var(--darkgray);

    &>svg {
      fill: var(--paleblue);
    }

    &>span {
      color: var(--lightestgray);

      &>span>a {
        color: var(--palerblue);
      }
    }
  }

  & .OE6hId.J9fJmf /* “Cancel” and “Discard” */ {
    &>.UQuaGc /* “Cancel” */ {
      color: var(--lightergray); 
      &:hover, 
      &:focus {
        background-color: var(--darkgray);
      }

      &>.Fvio9d.MbhUzd /* Ripple effects */ {
        background-image: radial-gradient(circle farthest-side, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12) 80%, rgba(255, 255, 255, 0) 100%);
      }
    }
    &>.l3F1ye /* “Discard” */ {
      color: var(--palerblue);
      &:hover, 
      &:focus {
        background-color: var(--blue-ripple);
      }
    }
  }
}
}
@-moz-document url-prefix("https://docs.google.com/picker/v2/home?req=%5B%22ireq%22%2C%5Bnull%2C%5B%5B1%5D%2C%5B%5D%2C%5B%5D%2C%5B%5D%2C%") {
/* Google Images picker */

.ZWZruf /* Search bar background */,
.CjshKe /* Landing page background */ {
  background-color: var(--darkestgray);
}

.yawtRb .Icoilb svg /* Panel close button */,
.yawtRb .lVYtmc svg {
  fill: var(--lightergray);
}
.fKz7Od .VTBa7b /* Panel close button ripple effect on click, because this one is fancy */ {
  background-image: radial-gradient(circle farthest-side, var(--blue-ripple), var(--blue-ripple) 80%, var(--blue-ripple) 100%);
}
.U26fgb.mUbCce.fKz7Od.Icoilb.M9Bg4d.j7nIZb:hover /* Panel close button on hover */ {
  background-color: var(--darkgray);
}

.fjSJOb input.yNVtPc /* Search bar placeholder */ {
  color: var(--lightergray);
}
.fjSJOb input.Ax4B8 /* Search terms */ {
  color: white;
}

.GtrNOb /* Search bar bottom border */ {
  border-color: var(--darkgray);
}

img.hTbDCf /* Google logo */ {
  filter: brightness(100000%);
}
.UCvCZb /* "images" */ {
  color: var(--palerblue);
}

.kkN4Se /* Copyright warning */ {
  color: var(--lightgray);
}
.kkN4Se a /* "Learn more" */ {
  color: var(--palerblue);
}

.VOEIyf .jBmls /* Search suggestions box */ {
  background-color: var(--darkestgray);
  border: none;
  border-bottom: 1px solid var(--darkgray);
}
.VOEIyf, .VOEIyf .jBmls, .oKubKe /* Search suggestion text */ {
  color: var(--lightergray);
  transition: var(--off);
}
.oKubKe[aria-selected="true"] /* Highlighted search suggestion */ {
  background-color: var(--darkgray);
  transition: var(--on);
}

.BxNLed /* Bottom bar with item count and Insert button */ {
  background-color: var(--darkgray);
}
.Ce1Y1c svg[fill="#3367d6"] /* X button */ {
  fill: white !important;
}
.e0eYxe /* Item count */,
.zP15X /* Insert button text */ {
  color: white;
}
.O0WRkf:hover /* Insert button background */ {
  background-color: var(--mediumdarkgray);
  transition: var(--on);
}
.oG5Srb .Vwe4Vb, .zZhnYe .Vwe4Vb /* Insert button ripple */ {
  background-image: radial-gradient(circle farthest-side, var(--blue-ripple), var(--blue-ripple) 80%, transparent 100%)
}
