body {
  scrollbar-color: var(--gray) transparent;
}

.KC1dQ /* Background */ {
  background-color: var(--darkestgray);
}

.mNL6p .d3Kuye .zv7tnb /* “Share "<whatever>"”, “Settings for "<whatever>"” */{
  color: var(--lightestgray);
}
.RTwQId i.google-material-icons /* ❔ and ⚙️ icons */ {
  color: var(--lightestgray);
}

.WaWjk /* “People with access” */, 
.quTB6 /* “General access" */ {
  color: var(--lightergray);
}

.mjB9rc /* Lines below “People with access” and “General access” */, 
.yF6xpb /* Line above “Copy link” and “Done” buttons */ {
  border-color: var(--darkestgray);
}

.aUQx::before /* Line above list of people with access */,
.aUQx::after /* Line below */ {
  border-color: var(--darkgray);
}

/* People with access */

.ZelW3e .FYhd9e /* Half-pill shapes around people */ {
  transition: var(--button-off);
}
.ZelW3e:hover .FYhd9e {
  background-color: var(--darkergray);
  transition: var(--button-on);
}
.fOEalf .Jw4Ike /* Names */ {
  color: var(--lightergray);
}
.fOEalf .EDtwUe /* Email addresses */ {
  color: var(--lightgray);
}
.xPGlDb.JV9EZd.LjDxcd:disabled, 
.xPGlDb.JV9EZd.LjDxcd /* Permissions */ {
  color: var(--lightgray);
}

/* General access */

.lfDNBb:hover, 
.lfDNBb:focus-within /* Half-pill shape */ {
  background: none /* It was a bit silly to have a half-pill shape around this area, since it isn’t a list */;
}
.S9uFJc.VfPpkd-LgbsSe:not(:disabled) /* Link access */ {
  color: var(--lightergray);
}
.RJS6zb /* Link access info */ {
  color: var(--lightgray);
}

/* “Copy link” button */
.uJtSke.sj692e {
  border-color: var(--darkergray);
  color: var(--paleblue);
  transition: var(--button-off);
}
.uJtSke.sj692e:hover, 
.uJtSke.sj692e:focus, 
.Rj2Mlf:not(.VfPpkd-ksKsZd-mWPk3d):focus:not(:disabled) {
  background-color: var(--darkergray);
  border-color: var(--darkergray);
  color: var(--paleblue);
  transition: var(--button-on);
}
.uJtSke.sj692e:focus:active {
  background-color: var(--blueripple);
  border-color: var(--blueripple);
  color: var(--palerblue);
  transition: var(--button-on);
}

/* “Done” button */
.nCP5yc:not(:disabled) {
  background-color: var(--paleblue);
  color: black;
}

/* Settings for document */

.VfPpkd-I9GLp-yrriRe > label /* Checkbox label */ {
  color: var(--lightergray);
}
